<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChargeNET</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        [class*="col"]{
            padding:1rem;
            background-color: #33b5a5;
            border: 2px solid #ffff;
            color: #ffff; 

        }
    </style>
</head>
<body>
    <nav class="navbar" style="background-color:#000103;">
        <div class="container-fluid">
          <a class="navbar-brand mb-0" style="color: #ffff;" href="#">ChargeNet Connect</a>
        </div>
    </nav>

    <div class="container-sm">
        <div class="text-center my-5">
            <h1>Login to ChargeNET- Connect</h1>
            <p class="lead">Login to with your admin username and password</p>
        </div> 
        <div class = "row justify-ontent-center my-5">
            <div class = "col-lg-6">
                <form actions="">
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>



    <script src ="js/bootstrap.bundle.js"></script>
</body>
</html> 